{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drowsiness Detection</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <script src="{% static 'jquery.js' %}"></script>
</head>
<body>
    <div class="container-fluid bg-light justify-content-center py-3 pb-5">
        <div class="col-md-12 justify-content-center d-flex flex-column align-items-center">
            <h1 class="p-1 mb-4">Drowsiness Detection</h1>
            <div class="col-md-12 px-5 d-flex justify-content-center">
                <div class="col-md-5 rounded shadow bg-white mt-4 mb-2">
                    <div class="col-md-12 text-center p-3">
                        <h4>Company Register</h4>
                    </div>
                    <div class="col-md-12 p-4 mb-3">
                        <form action="{% url 'company' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group mb-2">
                                <label class="mb-1">Company Name</label>
                                <input type="text" name="c_name" id="c_name" onchange="check_company()" class="form-control" required>
                            </div>
                            <div class="form-group mb-2">
                                <label class="mb-1">Manager Name</label>
                                <input type="text" name="m_name" id="m_name" class="form-control" required>
                            </div>
                            <div class="form-group mb-2">
                                <label class="mb-1">Location</label>
                                <textarea name="location" id="location" class="form-control" required></textarea>
                            </div>

                            <div class="form-group mt-4">
                                <input type="submit" class="btn btn-success" value="Register" id="register-btn" style="width: 100%;">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function check_company(){
            let c_name = $("#c_name").val()
            $.ajax({
                url:"{% url 'check_company' %}",
                type:"get",
                data: {user:c_name},
                success:function(data){
                    if (data == "exists"){
                        alert("User Already Exists")
                        $("#c_name").css('border','1px solid red')
                        $("#register-btn").attr('disabled','disabled')
                    }
                    else{
                        $("#c_name").css('border','1px solid lightgray')
                        $("#register-btn").removeAttr('disabled')
                    }
                }
            });
        }
    </script>
    {% if status %}
    <script>
        alert("{{status}}");
        window.location="/"
    </script>
    {% endif %}
</body>
</html>